.site-header {
  display: flex;
  padding: 1rem;

  h1 {
    font-size: 1.4rem;
    margin: 0 0 0.2rem;
  }

  p {
    font-size: 0.9rem;
    margin: 0;
  }

  &__hamburger {
    display: flex;
    margin-left: auto;

    button {
      width: 26px;
      padding: 0;
      background: inherit;
      border: none;
    }
  }
}
